
.create-container {
    min-height: 100vh;
    padding: 50px 20px 40px;
    background:rgb(12, 12, 13) ;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create-card {
    width: 100%;
    max-width: 520px;

    background: rgb(30, 28, 28);
    border: 1px solid #1e293b;
    border-radius: 16px;
    padding: 32px;

    color: white;
}

.create-card h2 {
    font-size: 1.9rem;
    margin-bottom: 8px;
    font-weight: 600;
}

.subtitle {
    font-size: 0.95rem;
    color: rgb(244, 247, 255);
    margin-bottom: 24px;
}

.error-msg {
    background: rgba(239, 68, 68, 0.15);
    color: rgb(249, 208, 208);
    padding: 10px 14px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 0.9rem;
}

.section {
    margin-bottom: 28px;
}

.section h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgb(229, 231, 235);
}

input {
    width: 95%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #1e293b;
    background: rgb(50, 51, 54);
    color: white;
    font-size: 0.95rem;
    outline: none;
}

input::placeholder {
    color: rgb(187, 190, 196);
}

form input:focus{
    border-color:rgb(161, 165, 169);
    outline: none;
}

.row {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.row input {
    flex: 1;
}

.submit-Btn {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    border: none;
    background: rgb(16, 185, 129);    
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: background 0.2s ease, transform 0.2s ease;
}

.submit-Btn:hover {
    background: rgb(5, 150, 105);
    transform: translateY(-2px);
}


@media (max-width: 480px) {
    .navbar {
        justify-content: space-around;
    }
    .create-card {
        padding: 24px;
    }

    .row {
        flex-direction: column;
    }
}
