
.navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  font-family: poppins, sans-serif;
  border-bottom: 1px solid black;
  box-shadow: 0 8px 20px rgba(38, 36, 36, 0.1);
  position:sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50000;
  background: transparent;
  transition: 0.3s ease;
}

.navbar.scroll {
  transform: translateY(-100%);
}

.navbar-logo h1 {
  font-family: "Playwrite DE SAS", cursive;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}


.navbar-nav ul {
  display: flex;
  gap: 30px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav ul li {
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.navbar-nav ul li:hover {
  transform: scale(1.05);
}

.navbar-nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.loginBtn {
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  color: black !important;
  font-weight: 600;
}

.logoutBtn {
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  color: black !important;
  font-weight: 600;
}
.createBtn {
  padding: 8px 16px;
  background: rgb(16, 185, 129);    
  border-radius: 6px;
  color: white !important;
  font-weight: 600;
}

.createBtn:hover {
  background: rgb(5, 150, 105);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {

  .navbar {
    justify-content: space-around;
  }

  .navbar-logo h1 {
    font-size: 1.6rem;
  }

  .hamburger {
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    z-index: 1000;
  }

  .navbar-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;

    background-color: black;
    transform: translateX(-100%);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 15;

    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .navbar-nav.open {
    transform: translateX(0);
    opacity: 1;
    z-index: 1000;
  }

  .navbar-nav ul {
    flex-direction: column;
  }

  .navbar-nav ul li {
    margin: 20px 0;
    text-align: center;
  }

  .navbar-nav ul li a {
    font-size: 1.1rem;
  }
}


/* home.css */
.hero{
    min-height: 80vh;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background:linear-gradient(135deg,rgba(0, 0, 0, 0.65),rgba(30, 25, 25, 0.65));
    color: white;
    text-align: center;
}
.hero-content{
    max-width: 700px;
    padding: 20px;
}
.hero-content h1{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
}
.hero-content p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color:rgb(229, 231, 235) ;
}
.primary-btn{
    padding: 14px 32px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background:  rgb(56, 189, 248);
    color: rgb(2, 6, 23);
    cursor: pointer;
    transition: 0.3s;
}
.primary-btn:hover{
    background: #0ea5e9 ;
    transform: translateY(-2px);
}
.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.features h2{
    font-size: 2.2rem;
    margin-bottom: 50px;
}
.feature-card{
    background: rgb(2, 6, 23);
    border: 1px solid rgb(30, 41, 59);
    border-radius: 12px;
    padding: 30px 20px;
    transition: 0.3s;
    margin: 2px;
}
.feature-card:hover{
    transform: translateY(-6px);
    border-color: rgb(56, 189, 248);
}
.feature-card h3{
    margin-bottom: 12px;
    font-size: 1.2rem;
}
.feature-card p{
    font-size: 0.95rem;
    color:rgb(203, 213, 245) ;
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .features {
    padding: 60px 20px;
  }
}