:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}
.center-text-loader {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #444;
}

.center-text-loader h2 {
  font-size: 22px;
  margin-bottom: 6px;
  font-weight: 600;
}

.center-text-loader p {
  font-size: 14px;
  color: #777;
}
